<div class="navbar">

    <div class="dropdown">
        <button class="dropbtn">
            {{strategy}} strategy
            <i class="fa fa-caret-down fa-lg" style="padding-left: 5px;" aria-hidden="true"></i>
        </button>
        <div class="dropdown-content">
          <a (click)="selectSortingStrategy('selection')">Selection Sort</a>
          <a (click)="selectSortingStrategy('bubble')">Bubble Sort</a>
          <a (click)="selectSortingStrategy('heap')">Heap Sort</a>
        </div>
    </div>

    <a (click)="generateArray()">
        Generate Array
        <i class="fa fa-refresh fa-md" style="padding-left: 5px; vertical-align: middle;" aria-hidden="true"></i>
    </a>

    <div class="dropdown" style="padding-left: 20px;">
        <button class="dropbtn">
            <span>Columns - {{numberOfColumn}}</span>
            <i class="fa fa-caret-down fa-lg" style="padding-left: 10px;" aria-hidden="true"></i>
        </button>
        <div class="dropdown-content">
            <a (click)="selectNumberOfColumns(50)">50</a>
            <a (click)="selectNumberOfColumns(100)">100</a>
            <a (click)="selectNumberOfColumns(250)">250</a>
            <a (click)="selectNumberOfColumns(500)">500</a>
        </div>
    </div>

    <div class="dropdown" style="padding-left: 20px;">
        <button class="dropbtn">
            <span>Speed - {{delayString}}</span>
            <i class="fa fa-caret-down fa-lg" style="padding-left: 10px;" aria-hidden="true"></i>
        </button>
        <div class="dropdown-content">
            <a (click)="selectDelay('superslow')">Super Slow</a>
            <a (click)="selectDelay('slow')">Slow</a>
            <a (click)="selectDelay('medium')">Medium</a>
            <a (click)="selectDelay('fast')">Fast</a>
            <a (click)="selectDelay('superfast')">Super Fast</a>
        </div>
    </div>

    <a (click)="run()">
        <span>Run Sorting</span>
        <i class="fa fa-play-circle fa-lg" style="padding-left: 10px;vertical-align: middle;" aria-hidden="true"></i>
    </a>
</div>

<div class="container">
    <div class="bars" *ngFor="let item of array"  [ngStyle]="{'height': item.value + 'px', 'background-color': item.color,
    'width': (numberOfColumn > 250) ? '1px' : ((numberOfColumn > 100 && numberOfColumn <= 250) ? '2px' : ((numberOfColumn == 100) ? '5px' : '10px'))
    , 'margin' : (numberOfColumn > 250) ? '1px' : ((numberOfColumn > 100 && numberOfColumn <= 250) ? '2px' : ((numberOfColumn == 100) ? '5px' : '10px'))}">
    </div>
</div>